* {
    margin: 0;
    padding: 0;
}

.comet-wrapper {
    position: fixed;
    height: 50px;
    width: auto;
}

.comet-wrapper .comet {
    height: 100%;
    width: auto;
    transform: rotate(-40deg);
    -moz-user-select: none; -webkit-user-drag: none;
}

#background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: tan;
}

#background * {
    pointer-events: none
}


.rotate {
    animation-name: rotate;
    animation-duration: 2s;
}
@keyframes rotate {
    0% {
        transform: scale(1) rotateZ(-40deg);
      }
    50% {
        transform: scale(1.5) rotateZ(140deg);
      }
    100% {
        transform: scale(1) rotateZ(320deg);
      }
  }

  /* $radius: 50px; */
  /* $thickness: 5px; */
.circle {
    position: fixed;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    border: 5px solid rgb(216, 39, 39);
    animation-name: circleExpand;
    animation-duration: 2s;
    animation-direction: normal;
}

@keyframes circleExpand {
    0% {
        transform: scale(0.1);
    }
    100% {
        transform: scale(1);
    }
}
